# Naive Bayes

In [160]:
import pandas as pd

In [161]:
#import dataframe

df = pd.read_csv("C:/Users/sharm/Desktop/PY/abc/TrumpTrudeau.csv",index_col=0)

In [162]:
df

      id           author                                             status
0      1  Donald J. Trump  I will be making a major statement from the @W...
1      2  Donald J. Trump  Just arrived at #ASEAN50 in the Philippines fo...
2      3  Donald J. Trump  After my tour of Asia, all Countries dealing w...
3      4  Donald J. Trump  Great to see @RandPaul looking well and back o...
4      5  Donald J. Trump  Excited to be heading home to see the House pa...
..   ...              ...                                                ...
395  396   Justin Trudeau  RT @googlecanada: Watch tmw: @JustinTrudeau di...
396  397   Justin Trudeau  Today in Ottawa, I met with the Modern Treaty ...
397  398   Justin Trudeau  Voici le sommaire de ma rencontre avec les Pre...
398  399   Justin Trudeau  RT @VeteransENG_CA: #Day1 of 11 Days of Rememb...
399  400   Justin Trudeau  RT @VeteransFR_CA: #Jour1 des 11 jours pour se...

[400 rows x 3 columns]

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      400 non-null    int64
 1   author  400 non-null    object
 2   status  400 non-null    object
dtypes: int64(1), object(2)
memory usage: 12.5+ KB

In [164]:
x=df[["status"]]
x.head()

                                              status
0  I will be making a major statement from the @W...
1  Just arrived at #ASEAN50 in the Philippines fo...
2  After my tour of Asia, all Countries dealing w...
3  Great to see @RandPaul looking well and back o...
4  Excited to be heading home to see the House pa...

In [165]:
y=df.drop(["status","id"],axis=1)
y

              author
0    Donald J. Trump
1    Donald J. Trump
2    Donald J. Trump
3    Donald J. Trump
4    Donald J. Trump
..               ...
395   Justin Trudeau
396   Justin Trudeau
397   Justin Trudeau
398   Justin Trudeau
399   Justin Trudeau

[400 rows x 1 columns]

In [166]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   status  400 non-null    object
dtypes: object(1)
memory usage: 6.2+ KB

In [167]:
x.shape

(400, 1)

In [168]:
type(x)

pandas.core.frame.DataFrame

In [169]:
x.isna().sum()

status    0
dtype: int64

In [170]:
y.isna().sum()

author    0
dtype: int64

In [171]:
# splitting data into train test

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,stratify=y)

In [172]:
x_train.head(2)  # we need to convert our data into numeric form to perform any model

                                               status
36  Leaving South Korea now heading to China. Look...
41  Join me LIVE in South Korea🇺🇸🇰🇷\n#NationalAsse...

In [173]:
x_test.head(2)

                                                status
135  The Fake News is working overtime. As Paul Man...
153  Just read the nice remarks by President Jimmy ...

In [174]:
# text encoding

from sklearn.feature_extraction.text import CountVectorizer
vectroizer = CountVectorizer(stop_words="english")
x_train = vectroizer.fit_transform(x_train["status"])
x_test = vectroizer.transform(x_test["status"])

In [175]:
x_train

<280x1867 sparse matrix of type '<class 'numpy.int64'>'
	with 3555 stored elements in Compressed Sparse Row format>

In [176]:
# above is the sparse array to see this saprse array we need to convert into dataframe
pd.DataFrame(x_train.toarray())
                                # here you may have observed that there is no names for any column so we need to change the name
                                # for which name what is assigned

,0,1,2,3,4,5,6,7,8,9,...,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
276,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
277,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
278,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
279,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [177]:
x_train = pd.DataFrame(x_train.toarray(),columns=vectroizer.get_feature_names())
x_train

,00,000,0idrgynlps,0purl6k86k,0qnlu03c03,10,100,1000,100e,100th,...,ありがとうございます,そして,アジア歴訪の大成功をお祈りしています,トランプ大統領による,ドナルド,初の,日米同盟の揺るぎない絆を世界に示すことができました,本当にありがとう,歴史的な日本訪問は,間違いなく
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
276,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
277,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
278,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
279,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [178]:
x_test

<120x1867 sparse matrix of type '<class 'numpy.int64'>'
	with 1007 stored elements in Compressed Sparse Row format>

In [179]:
x_test = pd.DataFrame(x_test.toarray(),columns=vectroizer.get_feature_names())
x_test

,00,000,0idrgynlps,0purl6k86k,0qnlu03c03,10,100,1000,100e,100th,...,ありがとうございます,そして,アジア歴訪の大成功をお祈りしています,トランプ大統領による,ドナルド,初の,日米同盟の揺るぎない絆を世界に示すことができました,本当にありがとう,歴史的な日本訪問は,間違いなく
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
116,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [181]:
# training our training data

In [182]:
from sklearn.naive_bayes import MultinomialNB

In [183]:
model = MultinomialNB()
model.fit(x_train,y_train)

C:\Users\sharm\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

MultinomialNB()

In [186]:
model.score(x_test,y_test)

0.95

In [187]:
# prediction
statment = "fake news"

In [190]:
tweet = vectroizer.transform([statment])
tweet

<1x1867 sparse matrix of type '<class 'numpy.int64'>'
	with 2 stored elements in Compressed Sparse Row format>

In [191]:
model.predict(tweet)

array(['Donald J. Trump'], dtype='<U15')